<!DOCTYPE html>
<html>
<head>
<script  data-min='../require.config.js' src='../JS/require.js'></script>
<link rel="stylesheet" href="../jqGrid/css/ui.jqgrid.css" type="text/css"/>
<link rel="stylesheet" href="../jqGrid/css/ui.jqgrid-bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="../jqGrid/css/ui.jqgrid-bootstrap-ui.css" type="text/css"/>

</head>
<body>
<script>
require(['../require.config'],function($){
	require(['JGrid']);
});
</script>
<table id="jqGrid">
    
</table>

</body>
</html>